.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
test/**
docs/**
node_modules/**
eslint.config.mjs
esbuild.config.mjs
vitest.config.mts
tsconfig.json
pnpm-lock.yaml
pnpm-workspace.yaml
**/*.map
**/*.test.*
.github/**
.gitignore
release-please-config.json
.release-please-manifest.json
media/original.png
